.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  width: 300px;
}

/* .sidenav-container {
  height: 100%;
} */

/* .toolbar-container {
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0px;
} */

.logo {
  height: 64px;
}

.logo.container {
  text-align: center;
}

/* .img.logo {
  position: absolute;
  top: 35%;
  left: 50%;
} */

li {
  /* margin: 40px 5px 0px 30px; */
  padding: 20px 0px 20px 20px;
  font-size: 20px;
}

.active-menu {
  background: #777777;
}