<div class="login-container" style="background: #303030; height: 100vh; width: 100vw;">

  <h1 class="text">AnimeApp</h1>

  <form action="/" method="get">

    <label for="email">Email</label>
    <input type="email" name="email" id="email" autocomplete="username">

    <label for="password">Password</label>
    <input type="password" name="password" id="password" autocomplete="current-password">

    <button mat-raised-button color="primary" type="submit">Enter</button>
    <!-- <a href="/" role="button">Entrar</a> -->
  </form>
</div>